.operationDraggableContainer {}

.operationDraggingContainer {}

.scenarioOperation {
    width: 300px;
    display: flex;
    align-items: center;
}

.operationContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #cccccc;
    padding: 8px;
    padding-left: 32px;
    border-radius: 10px;
}

.titleRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 4px;
}

.dragButton {
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: move !important;
    cursor: grab !important;
}

.operation--dragging .dragButton {
    cursor: grabbing;
}

.inputsContainer {
    flex-grow: 1;
}

.operationName {
    width: 80%;
    margin-bottom: 4px !important;
}

.rateInputGroup {
    width: 70% !important;
    display: flex !important;
    flex-wrap: nowrap;
}

.deleteButton {
    position: absolute !important;
    cursor: pointer;
    top: 4px;
    right: 4px;
    color: #ff4d4f !important;
    padding: 4px;
    border-radius: 4px;
}

.deleteButton:hover {
    background-color: rgba(255, 77, 79, 0.1);
}

.operationIcon {
    display: block;
    font-size: 20px;
    color: #999999 !important;
    padding: 10px;
}

.result {
    display: block;
    margin-top: 4px;
}