.scenarioOperation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.operationContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.dragIcon {
    margin-right: 10px;
    margin-top: 8px;
}

.inputsContainer {
    flex-grow: 1;
}

.operationName {
    width: 80%;
    align-self: start;
}

.inputRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.rateInputGroup {
    width: 70% !important;
    display: flex !important;
    flex-wrap: nowrap;
}

.deleteButton {
    position: absolute !important;
    cursor: pointer;
    top: 4px;
    right: 0;
    color: #ff4d4f !important;
}

.operationIcon {
    display: block;
    font-size: 20px;
    color: #999999 !important;
    padding: 10px;
}

.result {
    text-align: end;
}