.container {
    flex-grow: 1;
}

.scenariosList {
    margin-top: 8px;
    padding: 8px;
}

.addScenario {
    margin-top: 10px;
    margin-left: 8px;
    align-self: start;
}

.scenarioDraggableContainer {}

.scenarioDraggingContainer {}