.scenarioDraggableContainer {
    margin-bottom: 8px;
}

.scenarioDraggingContainer {}

.buttonsExtra {
    height: 34px;
    width: 300px;
    position: relative;
    z-index: 1;
    top: 1px;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 4px 12px 0 4px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
}

.buttonsExtraCollapsed {
    height: 39px;
    border-radius: 10px;
    border-bottom: 1px solid black;
    padding: 4px 12px 4px 4px;
}

.dragButton {
    font-size: 16px;
    color: #333333;
    padding: 4px;
    border-radius: 4px;
    cursor: move !important;
    cursor: grab !important;
}

.scenarioDraggingContainer .dragButton {
    cursor: grabbing;
}

.deleteButton {
    font-size: 16px;
    color: #ff4d4f !important;
    padding: 4px;
    border-radius: 4px;
}

.deleteButton:hover {
    background-color: rgba(255, 77, 79, 0.1);
}

.collapseButton {
    font-size: 16px;
    color: #333333;
    padding: 4px;
    border-radius: 4px;
}

.collapseButton:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.scenarioName {
    margin-left: 8px !important;
}

.scenarioNameText {
    margin-left: 16px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.scenario {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid black;
    margin-right: 10px;
    background-color: #dddddd;
    border-radius: 0 10px 10px 10px;
    position: relative;
}

.scenarioCollapsed {
    display: none;
}

.initInput {
    width: 100px !important;
    flex-shrink: 0;
}

.initInput:focus {
    width: 125px !important;
}

.operationsList {
    display: flex;
    padding: 8px;
    border-radius: 10px;
}

.operationsListDragging {
    background-color: #bbbbbb;
    margin-right: 8px;
    padding-right: 0;
}

.operationIcon {
    display: block;
    font-size: 20px;
    color: #999999 !important;
    padding: 10px;
}

.spreadContainer {
    margin-left: 8px;
}