.container {
    min-width: 100vw;
    min-height: 100vh;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.collapse {
    width: 200px;
    margin-top: 10px !important;
    margin-right: 10px !important;
    height: fit-content;
}